@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sarala"sans-serif;
}

.btn {
    padding: 10px 60px;
    background: linear-gradient(68.15deg, #0783b8 16.62%, #97c5e9 85.61%);
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 10px;
    transition: transform 0.2s;
    font-family: "Sarala";
}

.btn:active {
    transform: scale(0.95);
}

.popup {
    width: 400px;
    height: 270px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 104px 60px;
    color: #333;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    position: relative;
    display: inline-block;
    background: linear-gradient(45deg, pink, lightblue);
    -webkit-mask: radial-gradient(circle var(--r), #0000 99%, #000) 10000% 10000%/99.5% 99.5%;
    mask: radial-gradient(circle var(--r), #0000 99%, #000) 10000% 10000%/99.5% 99.5%;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-160%, -6%) scale(1);
}

.popup img {
    width: 60px;
    margin-top: -30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 30px;
    font-weight: 500px;
    margin: 30px 0 40px;


}

.popup button {
    width: 88%;
    margin-top: 20px;
    padding: 10px 0;
    background: linear-gradient(68.15deg, #0783b8 16.62%, #97c5e9 85.61%);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media (max-width: 920px) {

    .popup,
    .open-popup {
        height: 300px;
        margin-left: 100%;
        margin-top: -20%;
        flex-direction: column;
        width: 90%;
        text-align: center;
    }
}